.login-wrapper {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sy-name {
    text-align: center;
    font-weight: bold;
}

.login-item {
    margin-top: 20px;
}

.login-input {
    width: 200px;
    border:1px solid #f0f0f0;
    height: 26px;
    outline: none;
}

.login-btn {
    width: 200px;
    height: 32px;
    outline: none;
    margin-top: 10px;
    align-self: end;
    background-color: #fd503e;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}